---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Sobre from '../components/Sobre.astro';
import Stack from '../components/Stack.astro';
import Projetos from '../components/Projetos.astro';
import Contato from '../components/Contato.astro';
---

<Layout title="Jair Ribeiro's Portfolio">
	<main class="px-4">
		<Hero />
		<Sobre />
		<Stack />
		<Projetos />
		<Contato />
	</main>
</Layout>